
<h1 mat-dialog-title>Create New Channel</h1>
<form #channelForm="ngForm" (ngSubmit)="onSubmit(channelForm)" name="myForm">
    <div mat-dialog-content>
    
        <div>
            <div class="row">
                <div class="col-md-6 mb-3">
                    <label for="name" class="form-label">Channel Name</label>
                    <input type="text" name="name" placeholder="Enter Channel Name"
                     id="name" class="form-control form-control-lg" required ngModel>
                </div>
    
                <div class="col-md-6 mb-3">
                    <label for="size" class="form-label">Channel Size</label>
                    <input type="number" name="size" id="size" placeholder="Enter Channel Size" class="form-control form-control-lg" required ngModel>
                </div>
            </div>
            
            <br>    
            
            <div class="row">
                <div class="col-md-12 mb-3">
                    <label for="body" class="form-label">Channel Description (Bio)</label>
                    <textarea type="text" name="desc" rows="2" id="desc" class="form-control"
                        placeholder="Enter Channel Description" required ngModel></textarea>
                </div>
            </div>
            <br>
            <label for = "channelType" class="form-label">Channel Preferences</label>
            <div class="row">
                <div class="col">
                    <mat-radio-group aria-label="Select an option" id="channelType" name="channelType" ngModel>
                        <mat-radio-button value="private" style="margin-right: 20px;">Private Channel</mat-radio-button>
                        <mat-radio-button value="public">Public Channel</mat-radio-button>
                    </mat-radio-group>
                </div>
                <div class="col">
                    <mat-checkbox name="isPaidChannel" ngModel>
                        Make Paid Channel
                    </mat-checkbox>
                </div>
            </div>

            <div class="row mt-2">
                <div class="col-md-6" *ngIf="channelForm?.value.isPaidChannel">
                    <label for="entryFee" class="form-label">Entry Fee To Join Channel</label>
                    <input type="number" id="entryFee" name="entryFee" placeholder="Enter Entry Fee for Channel" 
                    class="form-control form-control-lg mt-2" ngModel>
                </div>
            </div>

        </div>
    </div>
    <div mat-dialog-actions>
        <button mat-button (click)="onNoClick()">Discard</button>
        <button mat-button color="primary" type="submit">Create</button>
    </div>
</form>