<mat-toolbar color="primary" fxLayout="row" fxLayoutAlign="space-between center">
  <span>
    <button mat-button>{{title}} <span style="font-size: 12px;">&nbsp; v 1.0.0</span></button>
    <!-- <button mat-button routerLink="/login">
      <i class="bi bi-house-door"></i>
    </button> -->
  </span>

  <div fxLayout="row" fxShow="false" fxShow.gt-sm>
    <button mat-button routerLink="/login" *ngIf="!isAuthenticated">
      <i class="bi bi-power"></i> &nbsp;
      Login
    </button>

    <button mat-button routerLink="/home">
      <i class="bi bi-house"></i> &nbsp;
      Home
    </button>

    <button mat-button *ngIf="!global.userToken" routerLink="/login">
      <i class="bi bi-power"></i> &nbsp;
      Login to Access Your data
    </button>

    <button mat-button [matMenuTriggerFor]="beforeMenu" *ngIf="global.userToken">

      Hi👋, {{global.name}} &nbsp;
      <img src="../assets/img/user.png" alt="user" width="45px" style="cursor: pointer;">

      <mat-menu #beforeMenu="matMenu" xPosition="before">
        <button mat-menu-item routerLink="/settings">
          <i class="bi bi-gear"></i> &nbsp;Settings
        </button>

        <button mat-menu-item routerLink="/profile">
          <i class="bi bi-person-lines-fill"></i> &nbsp;Profile
        </button>

        <button mat-menu-item (click)="openDialog()">
          <i class="bi bi-person-lines-fill"></i> &nbsp;Create Channel
        </button>

        <button mat-button (click)="logout()">
          <i class="bi bi-box-arrow-right"></i> &nbsp;
          Logout
        </button>

      </mat-menu>

    </button>

  </div>
  <button mat-button [mat-menu-trigger-for]="menu" fxHide="false" fxHide.gt-sm>
    <i class="bi bi-list"></i>
  </button>
</mat-toolbar>

<mat-menu x-position="before" #menu="matMenu">
  <button mat-menu-item routerLink="/home">
    <i class="bi bi-house-door"></i> &nbsp;
    Home
  </button>

  <button mat-menu-item routerLink="/register" *ngIf="!global.userToken">
    <i class="bi bi-person-plus"></i> &nbsp;
    Register
  </button>

  <button mat-menu-item routerLink="/login" *ngIf="!global.userToken">
    <i class="bi bi-power"></i> &nbsp;
    Login
  </button>

  <button mat-menu-item *ngIf="global.userToken" (click)="logout()">
    <i class="bi bi-box-arrow-right"></i> &nbsp;
    Logout
  </button>

</mat-menu>


<router-outlet></router-outlet>