<mat-toolbar color="primary" fxLayout="row" fxLayoutAlign="space-between center">
  <span>
    <button mat-button routerLink="/">{{title}}</button>
    <button mat-button routerLink="/login">
      <i class="bi bi-house-door"></i>
    </button>
  </span>
  <div fxLayout="row" fxShow="false" fxShow.gt-sm>
    <button mat-button routerLink="/login" *ngIf="!isAuthenticated">
      <i class="bi bi-power"></i> &nbsp;
      Login
    </button>
    <button mat-button *ngIf="isAuthenticated" (click)="logout()">
      <i class="bi bi-box-arrow-right"></i> &nbsp;
      Logout
    </button>
    <button mat-button *ngIf="!isAuthenticated" routerLink="/register">
      <i class="bi bi-person-plus"></i> &nbsp;
      Register
    </button>

    <button mat-button [matMenuTriggerFor]="beforeMenu" *ngIf="isAuthenticated">
      Hi, Sreehari &nbsp;
      <img src="../assets/img/user.png" alt="user" width="45px" style="cursor: pointer;">

      <mat-menu #beforeMenu="matMenu" xPosition="before">
        <button mat-menu-item routerLink="/settings">
          <i class="bi bi-gear"></i> &nbsp;Settings
        </button>

        <button mat-menu-item routerLink="/profile">
          <i class="bi bi-person-lines-fill"></i> &nbsp;Profile
        </button>

        <button mat-menu-item (click)="openDialog()">
          <i class="bi bi-person-lines-fill"></i> &nbsp;Create Channel
        </button>
      </mat-menu>

    </button>

  </div>
  <button mat-button [mat-menu-trigger-for]="menu" fxHide="false" fxHide.gt-sm>
    <i class="bi bi-list"></i>
  </button>
</mat-toolbar>

<mat-menu x-position="before" #menu="matMenu">
  <button mat-menu-item routerLink="/">
    <i class="bi bi-house-door"></i> &nbsp;
    Home
  </button>
  <button mat-menu-item routerLink="/register">
    <i class="bi bi-person-plus"></i> &nbsp;
    Register
  </button>
  <button mat-menu-item routerLink="/login" *ngIf="!isAuthenticated">
    <i class="bi bi-power"></i> &nbsp;
    Login
  </button>
  <button mat-menu-item *ngIf="isAuthenticated" (click)="logout()">
    <i class="bi bi-box-arrow-right"></i> &nbsp;
    Logout
  </button>
</mat-menu>
<router-outlet></router-outlet>