<main class="container">
  <aside class="servers">

    <!-- profile -->
    <div class="servers-collection">
      <div class="server focusable server-friends unread" role="button" aria-label="Friends unread">
        <div class="server-icon">
          <img src="../../assets/img/user.png" />
        </div>
      </div>
    </div>


    <!-- Chats -->

    <!-- class='server focusable unread' -->
    <div class="servers-collection" (click)="selectedChat(s,i)" *ngFor = "let s of servers; let i = index;">
      <div [ngClass]="i == selectChatIndex ? 'server focusable active' : 'server focusable'"
       role="button" aria-label="Discord Developers unread">
        <div class="server-icon"><img
            src={{s.profile}} /></div>
      </div>
    </div>

  </aside>

  <aside class="channels">
    <header class="channels-header focusable">
      <h3 role="header" class="channels-header-name">{{currentChat.name}}</h3>
      <svg role="button" aria-label="Dropdown" class="channels-header-dropdown">
        <use xlink:href="#icon-dropdown" />
      </svg>
    </header>

    <section class="channels-list">
      <header class="channels-list-header" style="margin-bottom: 5px;">
        <span>All Channels</span><i class="bi bi-plus-circle" style="float: right;"></i>
      </header>

      <ul class="channels-list-text">
        <li [ngClass]="i == selectChannelIndex ? 'channel focusable channel-text active' : 'channel focusable channel-text'"
        (click)="selectChannel(c,i)" *ngFor="let c of currentChatChannels; let i = index;">
          <span class="channel-name">{{c.cName}}</span>
          <button class="button" role="button" aria-label="Invite">
            <i class="bi bi-person-plus"></i>
          </button>
          <button class="button" role="button" aria-label="settings">
            <i class="bi bi-gear"></i>
          </button>
        </li>

        <!-- <li class="channel focusable channel-text">
          <span class="channel-name">help</span>
          <button class="button" role="button" aria-label="Invite"><svg>
              <use xlink:href="#icon-invite" />
            </svg></button>
          <button class="button" role="button" aria-label="settings"><svg>
              <use xlink:href="#icon-channel-settings" />
            </svg></button>
        </li> -->
      </ul>

      <header class="channels-list-header focusable">
        <h5>Voice Channels</h5>
      </header>
    </section>

    <footer class="channels-footer">
      <img class="avatar" alt="Avatar" src="../../assets/img/user.png" />
      <div class="channels-footer-details">
        <span class="username">Sreehari</span>
        <span class="tag">Marvel's cult</span>
      </div>
      <div class="channels-footer-controls button-group">
        <button role="button" aria-label="Mute" class="button button-mute" style="background-color: #666667;">
          <i class="bi bi-pencil-square"></i>
        </button>
        &nbsp;
        <!-- <button role="button" aria-label="Deafen" class="button button-deafen"><svg>
            <use xlink:href="#icon-deafen" />
          </svg></button> -->
        <button role="button" aria-label="Settings" class="button button-settings" style="background-color: #666667;">
          <i class="bi bi-gear-fill"></i>
        </button>
      </div>
    </footer>
  </aside>

  <div class="vert-container">
    <menu type="toolbar" class="menu">
      <h2 class="menu-name">{{currentChannel.cName}}</h2>
    </menu>

    <section class="chat">

    </section>
  </div>
</main>